.precedence {
    td { padding: .5em; border-right: 1px solid lightgrey; }
    tr { margin: 0; padding: 0; }
    border-collapse: collapse;
}

table.task-conversions {
    margin-bottom: 2em;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    code {
	font-size: 80%;
    }
    td {
	padding-top: 1em;
	padding-bottom: 1em;
    }
}

input.filter {
    margin-bottom: 1em;
    margin-left: 3em;
}

ul.section-list {
    list-style-type: none;
    li { padding-top: 1em; }
}
